@import url(https://fonts.googleapis.com/css?family=Kanit);
body {
  background-color: rgba(216, 252, 180, 1);
  overflow-x: hidden;
}
/* Adjust the width of the content to accommodate scrollbar */
body::-webkit-scrollbar {
  width: 0; /* Hide scrollbar in webkit browsers */
}

/* Adjust the width of the content to accommodate scrollbar */
body::-webkit-scrollbar-track {
  box-shadow: none;
}

/* Adjust the width of the content to accommodate scrollbar */
body::-webkit-scrollbar-thumb {
  box-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* location selector */
.location {
  position: fixed;
  display: flex;
  align-self: start;
  z-index: 5;
  margin: 1vw;
  background-color: #97bc62;
  border-radius: 20px;
  margin-left: 1vw;
  margin-top: 0.5vw;
  padding: 0.5vw;
}

.selector {
  background-color: #97bc62;
  font-family: "kanit";
  font-size: 100%;
  letter-spacing: 0.2px;
  border-radius: 20px;
  border: none;
  color: white;
  text-shadow: -0.2px -0.2px 0 #00ff05, 0.2px -0.2px 0 #00ff05,
    -0.2px 0.2px 0 #00ff05, 0.2px 0.2px 0 #00ff05;
}

/* upper header (location,banner,user,dark-light) */
.user {
  position: fixed;
  z-index: 5;
  margin: 1vw;
  right: 0;
  border-radius: 20px;
  margin-left: 1vw;
  margin-top: 0.5vw;
}

.user img {
  position: relative;
  width: 55px;
  height: 55px;
  margin: 2px;
  object-fit: cover;
  border-radius: 50px;
  border: 2px solid black;
  z-index: 2;
}

/* upper header (location,banner,user,dark-light) */
.upper {
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.mountain1 img {
  position: absolute;
  width: 100%;
  height: 19vw;
  align-items: center;
  background-size: cover;
  z-index: 1;
}

.mountain2 img {
  position: absolute;
  margin-left: 62%;
  margin-top: 8%;
  width: 30%;
  z-index: 2;
}

.bird img {
  position: absolute;
  margin-left: 25%; /* Remove this line if it's unnecessary */
  margin-top: 6%; /* Remove this line if it's unnecessary */
  width: 30%;
  z-index: 2;
}

.mountain3 img {
  position: absolute;
  width: 100%;
  align-items: center;
  height: 19vw;
  background-size: cover;
  z-index: 3;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner img {
  position: absolute;
  width: 25%;
  z-index: 4;
  margin-top: 9.2%;
  margin-left: 9%;
}

.upgrad {
  position: absolute;
  height: 3.6vw;
  width: 100%;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  z-index: 4;
  margin-top: 15.6%;
  background: linear-gradient(
    to top,
    rgba(216, 252, 180, 1),
    rgba(255, 0, 0, 0)
  );
  opacity: 0.5;
}

/* Navigation bar all propewrties with hover effect */
nav {
  margin-top: 19vh;
  position: sticky;
  display: flex;
  top: 0;
  margin-top: 19vw;
  justify-content: center;
  z-index: 6;
}

ul {
  width: 60%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 3%;
  padding: 14px 5px;
  background-color: #97bc62;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgb(24, 24, 24);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-weight: 900;
  font-family: "Kanit";
  font-weight: bolder;
  font-size: larger;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: -0.2px -0.2px 0 #00ff05, 0.2px -0.2px 0 #00ff05,
    -0.2px 0.2px 0 #00ff05, 0.2px 0.2px 0 #00ff05;
}

#active{
  text-decoration: none;
  color: black;
  text-shadow:none;
}
/* Underline effect */
ul li a {
  position: relative;
}

ul li a:hover {
  background-image: linear-gradient(
    to right,
    #2c5f2d,
    #0c1b0c
  ); /* Gradient color */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text transparent */
  text-shadow: none; /* Remove any existing text shadow */
}

ul li a:before,
ul li a:after {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjusted from 0 to -2px */
  width: 0%;
  height: 2px;
  background-color: #2c5f2d;
  transition: width 0.5s ease-in-out;
}

ul li a:before {
  left: 0;
}

ul li a:after {
  right: 0;
}

ul li a:hover:before,
ul li a:hover:after {
  width: 50%;
}

.wrapper {
  overflow: hidden;
}

/* grid structure for flash cards */
.boxout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  z-index: 5;
}

.boxin {
  position: relative;
  overflow: hidden;
  align-items: center;
  margin: 45px;
  border: 2px solid #1e1e1e;
  border-radius: 20px;
  height: 45vh;
  width: 60vw;
  background-repeat: no-repeat;
}

.boxin .description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: "kanit";
  font-size: larger;
  border-radius: 10px;
  width: 800px; /* Increase width as needed */
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Limit to 6 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.boxin:hover .description {
  opacity: 1;
}

.boxin:hover {
  background: linear-gradient(
    -45deg,
    rgba(28, 28, 28, 0.8),
    rgba(47, 47, 46, 1),
    rgba(6, 6, 6, 1)
  );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
}

.slider-container {
  position: absolute;
  overflow: hidden;
  background-size: cover;
  height: 45vh;
  width: 60vw;
  transition: opacity 0.3s ease; /* Add transition */
}

.boxin:hover .slider-container {
  opacity: 0.7; /* Reduce opacity on hover */
}

.slider {
  transition: transform 0.5s ease;
}

.slide {
  min-width: 180%;
}

.slide img {
  width: 60%;
  height: 335px;
  display: block;
  object-fit: cover;
}

.dot-container {
  margin: auto;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 45%;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.dot.active {
  background-color: #333;
}

.footer {
  position: relative;
  display: flex;
}

.help {
  position: absolute;
  justify-content: center;
  padding-top: 36%;
  padding-left: 10%;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 20px; /* Adjust the gap between columns as needed */
}

.fmode {
  /* Specify width to ensure equal distribution in columns */
  width: calc(50% - 50px);
  display: flex; /* Subtracting margin width */
  white-space: nowrap;
  gap: 20px;
}

.foottxt {
  font-family: "kanit";
  color: #9e9e9e;
  font-size: 30px;
  text-shadow: -0.2px -0.2px 0 #5e5e5e, -0.2px -0.2px 0 #ffb2b2,
    0.2px -0.2px 0 #5e5e5e, -0.2px 0.2px 0 #ffb2b2, 0.2px 0.2px 0 #5e5e5e;
}

.footbg img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  z-index: 2;
}

.ftxt {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: px;
  color: #97bc62;
  text-shadow: -0.1px -0.1px 0 #eaf4d6, 0.1px -0.1px 0 #eaf4d6,
    -0.1px 0.1px 0 #eaf4d6, 0px 0.1px 0 #eaf4d6;
}

.about {
  position: absolute;
  justify-content: center;
  padding-top: 38%;
  padding-left: 81%;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Two equal columns */
}

.social {
  margin-top: 20px;
  display: flex;
  gap: 30px; /* Adjust the gap between icons as needed */
}

.social :hover {
  transform: translateY(2px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.whatsapp {
  position: absolute;
  margin-top: 46%;
  margin-left: 93%;
  color: #eaf4d6;
  z-index: 3;
}

.copyright {
  position: absolute;
  margin-top: 52.5%;
  margin-left: 90%;
  color: #eaf4d6;
  z-index: 3;
}

